.container {
  padding: 0 2rem;

  display: flex;

  justify-content: center;
  align-items: center;
}

.header {
}

.headerText {
  font-family: 'Ubuntu', sans-serif;
}

.section {
  display: flex;
  width: 50vw;
  
  align-items: center;

  justify-content: space-between;
}


.textSection {
  font-family: 'Roboto Slab', serif;
  font-weight: 500;
}

.profileImage {
  border-radius: 50%;
}
